nohup.out
airflow-webserver.pid
logs/
__pycache__/
pots.json
*transactions*.json
monzo_auth.pickle
*.pyc
hsbc_transactions.json
dags/.DS_Store
.DS_Store
.env
*.csv
.ipynb_checkpoints
create_tables_views.ipynb
manual_db_sync.ipynb
upload_manual_transactions_google_sheets.ipynb
monzo_pots.json
monzo_tokens.json
notion-df.ipynb